*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color:#fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #080808;

}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline;
    font-size: 20px;
    justify-content: space-around;
    padding-bottom: 10px;
    margin: 10px 10px 10px 10px ;
    position: relative;
    text-decoration: none;
}
nav ul li::after{
    content: '';
    position: absolute;
    left: 0;

    bottom: 2px;
    width: 0;
    border-bottom:2px solid rgb(220, 57, 57);
    transition: 0.5s ease;
}
nav ul li:hover::after{
    width:100%;
}
.header-text{
    margin-top: 300px;
}
.header-text p{
    font-size: 20px;
    font-style: italic;
    color: darkgrey;
    padding: 10px;
    font-family: cursive;
}
.front{
    display: flex;
    justify-content: space-between;
}
.header-text h1{
    font-size: 50px;
    font-style: bold;
    color: #fff;
    padding: 10px;
}
.header-text h1 span{
    color: rgb(220, 57, 57) ;
}
.header-text h2{
    font-size:40px;
    font-style: bold;
    color: darkgray;
    padding: 10px;
}
.image-front{
    margin-top: 100px;
}
/* about */
#about{
    padding:80px 0;
    color: #ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 20px 20px 20px;
}
.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    height: 580px;
    width: 400px;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
   
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    font-family: cursive;
    
}
.about-col-2 p{
    font-size: 18px;
    color: darkgrey;
    text-align: justify;
    
}
.tab-title{
    display: flex;
    margin: 20px 0px 40px;
}
.p .tab-links{
    font-size: 22px;
}
.tab-links{
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0 10px;
}
.tab-contents ul li span{
    color:#d21e57;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#services{
    padding: 30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    border-right: 10px;
    transition:background 0.5,transform 0.5s 
}
.service-list div i{
    font-size:50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.service-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-list div img{
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 30px;
    transition: trasnform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display:block;
    margin:50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    margin-right: 15px;
    color: #ababab;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input ,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}










